* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ;
    color: ;
    background-color: ;
}

html {
    font-size: 0.625em; /* Utilizar agora REM para todos os font-size. Tornará os textos das páginas adaptativo ao tamanho de letra que o usuário configurar no navegador. Para transformar 15px em rem, basta mover a virgula para esquerda: 1,5rem.*/
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    flex-direction: column;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.site-header ul {
    list-style-type: none;
    display: flex;
}

.site-header li {
    padding: 10px;
    font-size: 1.5rem;    
}
.img-bg {
    background-image: url(../img/workdesk.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 4rem;
    margin: 50px 0;
    text-align: center;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    margin-top: 15px;
}
