* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
}

html {
    font-size: 0.625em; /* Utilizar agora REM para todos os font-size. Tornará os textos das páginas adaptativo ao tamanho de letra que o usuário configurar no navegador. Para transformar 15px em rem, basta mover a virgula para esquerda: 1,5rem.*/
}

#site-header-top {
    height: 50vh;
    background-image: url(../img/deco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#site-header-bottom {
    text-align: center;
    background-color: #fff;
    position: sticky;
    top: 0;
}

#site-header-bottom h1 {
    padding-top: 15px;
    font-weight: normal;
}

#nav-bar-items {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0;
}

#nav-bar-items li {
    padding: 10px;
    font-size: 1.5rem;
}

#nav-bar-items a {
    text-decoration: none;
    color: inherit;    
}

#main-container {
    width: 90%;
    margin: 0 auto;
}

#main-title {
    text-align: center;
    font-size: 4rem;
    font-weight: normal;
    padding: 20px;
}

#main-title::after {
    content: "";
    display: block;
    width: 50px;
    border: 1px solid;
    margin: 0 auto;
    margin-top: 10px;
        
}

#main-subtitle {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
    max-width: 70%;
    color: grey;
    font-weight: normal;
}

#main-text p {
    margin-top: 15px;
    font-size: 1.5rem;
    color: grey;
}


@media (min-width:800px) {
    #site-header-bottom {
        display: flex;
        padding: 5px 20px;
        align-items: center;
        justify-content: space-between;
    }

    #site-header-bottom h1 {
        padding: 0;
    }
}

